{% block body %}
<div data-title="Badge editor" rel="popover" data-html="true" data-content='{% include "BootstrapLabelBlockBundle:Editor:_badge_editor.html.twig" %}' class="al_inline_editable popover-zindex">
{% include 'BootstrapLabelBlockBundle:Badge:badge.html.twig' %}
</div>
{% endblock %}
