{% block body %} 
<div data-title="Label editor" rel="popover" data-html="true" data-content='{% include "BootstrapLabelBlockBundle:Editor:_label_editor.html.twig" %}' class="al_inline_editable popover-zindex">
{% include 'BootstrapLabelBlockBundle:Label:label.html.twig' %}
</div>
{% endblock %}
